networks:
  backend-net:
    driver: bridge

services:

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend-net

  redis:
    build:
      context: ./infra/redis
      dockerfile: Dockerfile.redis
    ports:
      - "6379:6379"
    volumes:
      - /home/ubuntu/redis-data:/data
    networks:
      - backend-net

  react:
    build:
      context: ./frontend/dontcare
      dockerfile: Dockerfile.react.prod
    ports:
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
    restart: unless-stopped

  fastapi:
    build:
      context: ./ai/dontcare
      dockerfile: Dockerfile.fastapi
    ports:
      - "9000:9000"
    environment:
      - PYTHONUNBUFFERED=1

  adk:
    build: 
      context: ./ai/dontcare
      dockerfile: Dockerfile.adk
    image: my-adk-server:latest
    container_name: adk
    ports:
      - "8000:8000"
    # volumes:
    #   - ./ai/dontcare/sa.json:/secrets/sa.json:ro 
    restart: unless-stopped

  django:
    build:
      context: ./backend/dontcare
      dockerfile: Dockerfile.django
    ports:
      - "7000:7000"
    environment:
      - DB_NAME=${POSTGRES_DB}
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
      - DB_HOST=db
      - DB_PORT=5432
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    depends_on:
      - db
      - redis
    networks:
      - backend-net

volumes:
  postgres_data: