version: '3.8'

services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile.jenkins
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - /home/ubuntu/jenkins-data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

    group_add:
      - "999"

    environment:
      JENKINS_OPTS: "--httpPort=8080 --httpsPort=-1"
      JENKINS_URL: "http://j13e107.p.ssafy.io:8080"